* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 1vw, 18px);
  background: hsl(0, 100%, 74%);
}

// Mixins
@mixin flex-colum($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-space($gap) {
  display: flex;
  justify-content: space-between;
  gap: $gap;
}

// Main styling
main {
  max-width: 1600px;
  margin: auto;
  height: 100%;
  background: hsl(0, 100%, 74%);

  #layer-bg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-intro-desktop.png");

    #content {
      width: 90%;
      height: 80%;
      @include flex-space(2rem);
      align-items: center;

      .top-left,
      .bottom-right {
        width: 50%;
      }

      .top-left {
        @include flex-colum(1rem);

        h1 {
          color: #fff;
          font-size: 3rem;
          width: 70%;
        }

        p {
          color: #fff;
          font-size: 1.1rem;
          width: 80%;
        }
      }

      .bottom-right {
        @include flex-colum(1rem);
        align-items: center;

        h1 {
          background: hsl(248, 32%, 49%);
          font-size: 1rem;
          width: 80%;
          border-radius: 0.7rem;
          text-align: center;
          color: #fff;
          padding: 1rem;

          span {
            opacity: 0.7;
            font-weight: 200;
          }
        }

        form {
          width: 80%;
          border-radius: 0.7rem;
          background: #fff;
          padding: 2rem;
          @include flex-colum(1rem);

          input {
            width: 100%;
            padding: 1rem 2rem;
            border-radius: 0.7rem;
            border: 1px solid #333;
          }

          #submit {
            background: hsl(154, 59%, 51%);
            border: none;
          }

          small {
            font-size: 12px;
            text-align: center;

            span {
              color: hsl(0, 100%, 74%);
              font-weight: 900;
            }
          }

          .error {
            border: 1px solid red;
            color: red;
          }
        }
      }
    }
  }
}

// Responsive design
@media (max-width: 680px) {
  main {
    height: auto;
    padding-bottom: 3rem;

    #layer-bg {
      @include flex-colum(2rem);

      #content {
        width: 100%;
        @include flex-colum(2rem);
        align-items: center;

        .top-left,
        .bottom-right {
          width: 100%;
        }

        .top-left {
          h1,
          p {
            width: 100%;
            padding: 1rem;
            text-align: center;
          }
        }
      }
    }
  }
}
